<div class="encuadre" style="font-family:'Courier New', Courier, monospace;">
    <div class="hard_soft_skills">
      <h1> <b> 
      Hard & Soft Skills
    </b></h1>   
    <div class="container">
      <div class="row">
    <div class="col-3">
    <circle-progress
    [percent]="60"
    [space]="-20"
    [radius]="100"
    [title]="'HTML'"
    [titleFontSize]="'40px'"
    [titleColor]="'#000000'"
    [subtitle]="'60%'"
    [subtitleFontSize]="'25px'"
    [subtitleColor]="'#000000'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="24"
    [outerStrokeColor]="'#ff008c'"
    [innerStrokeColor]="'#000000'"
    [animation]="true"
    [animationDuration]="1000"
  ></circle-progress>
  </div>

  
    <div class="col-3">
    <circle-progress
    [percent]="55"
    [space]="-20"
    [radius]="100"
    [title]="'CSS'"
    [titleFontSize]="'40px'"
    [titleColor]="'#000000'"
    [subtitle]="'55%'"
    [subtitleFontSize]="'25px'"
    [subtitleColor]="'#000000'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="24"
    [outerStrokeColor]="'#ff008c'"
    [innerStrokeColor]="'#000000'"
    [animation]="true"
    [animationDuration]="1000"
  ></circle-progress>
  </div>
  
  
    <div class="col-3">
    <circle-progress
    [percent]="50"
    [space]="-20"
    [radius]="100"
    [title]="'JAVASCRIPT'"
    [titleFontSize]="'28px'"
    [titleColor]="'#000000'"
    [subtitle]="'50%'"
    [subtitleFontSize]="'25px'"
    [subtitleColor]="'#000000'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="24"
    [outerStrokeColor]="'#ff008c'"
    [innerStrokeColor]="'#000000'"
    [animation]="true"
    [animationDuration]="1000"
  ></circle-progress>
  </div>
  <div class="col-3">
    <circle-progress
    [percent]="50"
    [space]="-20"
    [radius]="100"
    [title]="'JAVA'"
    [titleFontSize]="'40px'"
    [titleColor]="'#000000'"
    [subtitle]="'50%'"
    [subtitleFontSize]="'25px'"
    [subtitleColor]="'#000000'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="24"
    [outerStrokeColor]="'#ff008c'"
    [innerStrokeColor]="'#000000'"
    [animation]="true"
    [animationDuration]="1000"
  ></circle-progress>
  </div>
  
  </div>
  
    </div>  
    <div class="container">
      <div class="row">
    <div class="col-3">
    <circle-progress
    [percent]="40"
    [space]="-20"
    [radius]="100"
    [title]="'ANGULAR'"
    [titleFontSize]="'40px'"
    [titleColor]="'#000000'"
    [subtitle]="'40%'"
    [subtitleFontSize]="'25px'"
    [subtitleColor]="'#000000'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="24"
    [outerStrokeColor]="'#ff008c'"
    [innerStrokeColor]="'#000000'"
    [animation]="true"
    [animationDuration]="1000"
  ></circle-progress>
  </div>

  
    <div class="col-3">
    <circle-progress
    [percent]="40"
    [space]="-20"
    [radius]="100"
    [title]="'MYSQL'"
    [titleFontSize]="'40px'"
    [titleColor]="'#000000'"
    [subtitle]="'40%'"
    [subtitleFontSize]="'25px'"
    [subtitleColor]="'#000000'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="24"
    [outerStrokeColor]="'#ff008c'"
    [innerStrokeColor]="'#000000'"
    [animation]="true"
    [animationDuration]="1000"
  ></circle-progress>
  </div>
  
  
    <div class="col-3">
    <circle-progress
    [percent]="40"
    [space]="-20"
    [radius]="100"
    [title]="'LINUX'"
    [titleFontSize]="'40px'"
    [titleColor]="'#000000'"
    [subtitle]="'40%'"
    [subtitleFontSize]="'25px'"
    [subtitleColor]="'#000000'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="24"
    [outerStrokeColor]="'#ff008c'"
    [innerStrokeColor]="'#000000'"
    [animation]="true"
    [animationDuration]="1000"
  ></circle-progress>
  </div>
  <div class="col-3">
    <circle-progress
    [percent]="80"
    [space]="-20"
    [radius]="100"
    [title]="'NETWORKING'"
    [titleFontSize]="'28px'"
    [titleColor]="'#000000'"
    [subtitle]="'80%'"
    [subtitleFontSize]="'25px'"
    [subtitleColor]="'#000000'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="24"
    [outerStrokeColor]="'#ff008c'"
    [innerStrokeColor]="'#000000'"
    [animation]="true"
    [animationDuration]="1000"
  ></circle-progress>
  </div>
  
  </div>
  
    </div>  
     <div class="container">
      <div class="row">
        <div class="col"></div>
    <div class="col-3" style="position: relative; margin: 0px 0px 25px 0px">
    <circle-progress
    [percent]="35"
    [space]="-20"
    [radius]="100"
    [title]="'INGLÉS'"
    [titleFontSize]="'40px'"
    [titleColor]="'#000000'"
    [subtitle]="'35%'"
    [subtitleFontSize]="'25px'"
    [subtitleColor]="'#000000'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="24"
    [outerStrokeColor]="'#ff008c'"
    [innerStrokeColor]="'#000000'"
    [animation]="true"
    [animationDuration]="1000"
  ></circle-progress>
  </div>
  <div class="col"></div>
  
  </div>
  
    </div>
    
      
    </div>

