<div class="encuadre" style="font-family:'Courier New', Courier, monospace">
<div class="educacion">
  <h1> <b>
  Educación <a class="fa fa-plus-square"></a>
</b> </h1>
<div class="container">
<div class="row">
<div class="col-3">
  <img src="./assets/IJSF.jpg" width="90%" height="90%" alt="">
</div>
<div class="col"></div>

  <div class="col-8" >
    <h3><b>Instituto Juan Segundo Fernández (2008-2014)</b><a class="fa fa-pencil"></a>
      <a class="fa fa-times" style= "position: relative; margin: 0px 0px 0px 10px"></a></h3>
    <h4>Técnico Electromecánico</h4>
    <h5>La tecnicatura se basó, en el aprendizaje y manejo de maquinas de banco (torno y fresadora, tanto convesional como CNC, rectificadora, máquinas de Soldar), máquinas herramientas, y electricidad industrial, comercial y domiciliaria. Támbien se aprendió carpintería, hojalatería, dibujo técnico, y electrónica básica.</h5>
  </div>

</div>
</div>
<div class="container">
<div class="row">
<div class="col-3">
<img src="./assets/idetel-utn.jpg" width="90%" height="90%" alt="">
</div>
<div class="col"></div>

<div class="col-8" >
  <h3><b>Idetel-UTN (2015-2018)</b><a class="fa fa-pencil"></a>
    <a class="fa fa-times" style= "position: relative; margin: 0px 0px 0px 10px"></a></h3>
  <h4>Técnico Universitario en telecomunicaciones</h4>
  <h5>Aprendizaje de la red de telecomunicaciones.</h5>
</div>

</div>
</div>
<div class="container">
<div class="row">
<div class="col-3">
<img src="./assets/caba.jpg" width="90%" height="90%" alt="">
</div>
<div class="col"></div>

<div class="col-8" >
<h3><b>CFP N°22 CABA (2021)</b><a class="fa fa-pencil"></a>
  <a class="fa fa-times" style= "position: relative; margin: 0px 0px 0px 10px"></a></h3>
<h4>Instalador y Administrador de redes informáticas </h4>
<h5>La trayectoria se desarrolló aprendiendo la redes de internet, se vió como usar Switch, Router, AP´s cisco, TP-Link y Ubiquiti. Se vio las tecnología inalámbrica y cableada usada para estos equipos. Se vio Servidores usando Windows Server 2008 ,y enlazar PCs al servidor y Cisco Packet Tracer para configurar Routers y Switchs de manera virtual y practicas con ellas (Manual CCNA 1 y 2). Como complemento se vio partes de la PC y Sistemas Operativos Windows y Linux.</h5>
</div>

</div>
</div>
<div class="container">
<div class="row">
<div class="col-3">
<img src="./assets/caba.jpg" width="90%" height="90%" alt="">
</div>
<div class="col"></div>

<div class="col-8" >
<h3><b>CFP N°22 CABA (2019)</b><a class="fa fa-pencil"></a>
<a class="fa fa-times" style= "position: relative; margin: 0px 0px 0px 10px"></a></h3>
<h4>Telefonía IP sobre código abierto </h4>
<h5>El curso se desarrollo aprendiendo sobres redes, comunicaciones, y armar teléfonos con tecnología IP, configurarlos y conectándolos a la red de internet, usando el sistema operativo TRIXBOX.</h5>
</div>

</div>
</div>
<div class="container">
<div class="row">
<div class="col-3">
<img src="./assets/caba.jpg" width="90%" height="90%" alt="">
</div>
<div class="col"></div>

<div class="col-8" >
<h3><b>CFP N°22 CABA (2019)</b><a class="fa fa-pencil"></a>
<a class="fa fa-times" style= "position: relative; margin: 0px 0px 0px 10px"></a></h3>
<h4>Empalmador, Instalador y Medición de redes FTTH</h4>
<h5>El curso se desarrollo aprendiendo a cortar los diferentes tipos de cables de fibra, sus códigos de colores que se usa tanto TELECOM como TELEFÓNICA-MOVISTAR, empalmar y conectar en los diferentes tipos de cajas de empalme, usando los equipos para este tipo trabajo y armar una red de Fibra Óptica. También se contó con el aprendizaje de instrumentos como el OTDR, IOLM y el POWERMITER, y la instalación de la Red FTTH en el hogar y el testeo de la red, también cálculos teóricos para la implementación del mismo.</h5>
</div>

</div>
</div>
<div class="container">
<div class="row">
<div class="col-3">
<img src="./assets/caba.jpg" width="90%" height="90%" alt="">
</div>
<div class="col"></div>

<div class="col-8" >
<h3><b>CFP N°22 CABA (2021)</b><a class="fa fa-pencil"></a>
<a class="fa fa-times" style= "position: relative; margin: 0px 0px 0px 10px"></a></h3>
<h4>Instalador de redes HFC</h4>
<h5>El curso consistió en instalación de cableado coaxial, sus herramientas y como se configura la red HFC.</h5>
</div>

</div>
</div>

</div>
</div>
