<div class="encuadre" style="font-family:'Courier New', Courier, monospace">
    <div class="proyyevtos">
    <h1><b> 
    Proyectos <a class="fa fa-plus-square"></a>
    </b></h1>
    <div class="container">
    <div class="row">
    <div class="col-3">
    <img src="./assets/logo_arg_programa.jpg" width="100%" height="100%" alt="">
    </div>
    <div class="col"></div>
    
    <div class="col-8" >
      <h3><b>Portfolio Web (Argentina Programa)</b><a class="fa fa-pencil"></a>
        <a class="fa fa-times" style= "position: relative; margin: 0px 0px 0px 10px"></a></h3>
      <h5>Crear y personalizar un portfolio web y conectarlo a una base de datos</h5>
    </div>
    
    
    </div>
    </div>
    </div>
    </div>
