<div class="encuadre" style="font-family:'Courier New', Courier, monospace">
    <div class="experienciaLaboral">
      <h1><b> 
    Experiencia Laboral <a class="fa fa-plus-square"></a>
    </b> </h1>
    <div class="container" style="margin: 0px 0px 25px 45px;">
    <div class="row">
    <div class="col-3">
      <img src="./assets/Netacom.jpg" width="100%" height="100%" alt="">
    </div>
    <div class="col"></div>
    
      <div class="col-8" >
        <h3><b>Netacom (2022)</b><a class="fa fa-pencil"></a>
          <a class="fa fa-times" style= "position: relative; margin: 0px 0px 0px 10px"></a></h3>
        <h5>Instalador y Revisador de redes FTTH, reparación y despliegue cable drop, cambio de conectores y modems, para la empresa Claro.</h5>
      </div>
    
    
    </div>
    </div>
    </div>
    </div>
