<div class="encuadre">
    <div>
    <img src="./assets/RedesUniverso.jpg" width="100%" height="300" alt="">  
    <img src="./assets/perfil.jpg" class= "perfil_redondo" style="position: relative; margin: -100px 30px -70px"><a class="fa fa-pencil" style= "position: relative; margin: 0px 0px 0px -25px"></a><a class="fa fa-pencil" style="position: relative; margin: -100px 0px 0px 925px"></a>  
    </div>
    
    <div class="container" style="position: relative; margin: 80px 0px 0px 0px">
    <div class="row">
      <div class="col-4">   
        <h4>
          <p>
              <b class="parrafo" style="font-family:'Courier New', Courier, monospace">Marcos Marcelo Natiello</b>
            </p>  
          <p>  
              <i style="font-family:Arial, Helvetica, sans-serif">San Isidro, Buenos Aires, Argentina</i><a class="fa fa-pencil"></a> 
            </p> 
          </h4> 
      </div>
      <div class="col-8">  
        <div class="col">
          <h3>
          <ul type="circle" style="font-family:'Courier New', Courier, monospace"><a class="fa fa-pencil" style= "position: relative; margin: 0px 0px 0px 600px"></a><a class="fa fa-times" style= "position: relative; margin: 0px 0px 0px 10px" ></a>
            <li>Técnico en Telecomunicaciones, IDETEL-UTN</li>
            <li>Técnico Electromecánico, IJSF</li>
            <li>Full Stack Developer Jr., Argentina Programa</li>
          </ul>
        </h3>  
        </div>    
    
    </div>
    </div>
    </div> 
      <div class="container">
       <div class="row">
        
      </div>  
    </div>
    </div>
